{% extends 'base.html.twig' %}

{% block title %}yazılımcılara iş ata{% endblock %}

{% block body %}

    <h6 class="alert alert-info mt-3" >İncelemek istediğiniz İşi Seçin</h6>

    <div class="row">

        <div class="col-10">


            <select name="job" class="form-control mt-3 job select" >

                {% for job in jobs %}
                    <option value="{{ job.id }}">{{ job.name }}</option>
                {% endfor %}

            </select>

        </div>
        <div class="col-2">
            <button type="button"
                    class="form-control btn btn-primary mt-3 job select-searche"
                    id-select="select"
                    send="{{ asset('index.php/make-calculation-job/{id}') }}"
            >
                Getir
            </button>
        </div>

    </div>


    <table class="table bg-white mt-5">


        <thead class="badge-info">
            <tr>
                <th colspan="2">{{ jobName }}</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <th width="30%" class="table-dark">Yazılımcı</th>
                <td class="pl-4">{{ developerName }}</td>
            </tr>

            <tr>
                <th class="table-dark">İş sırası</th>
                <td class="pl-4">{{ sequence }}</td>
            </tr>

            <tr>
                <th class="table-dark">Başlama Zamanı</th>
                <td class="pl-4">{{ startTime }}</td>
            </tr>

            <tr>
                <th class="table-dark">Yazılımcının Çalışma Süresi</th>
                <td class="pl-4">{{ DeveloperRunTime }}</td>
            </tr>

            <tr>
                <th class="table-dark">Teslim Süresi</th>
                <td class="pl-4">{{ endTime }}</td>
            </tr>

        </tbody>

    </table>



{% endblock %}
